/* CSS Document */
  
body {
	background-color: #C6FACE;
	background-image: url('../img/background2.jpg');
	padding-top: 10px;
}
#container {
	width: 50%;
	padding: 0px 0px 20px 0px;
	margin: 0 auto;
	border-radius: 15px;
	background-color: #FFFFFF;
}
a:link {
	color: #11C40B;
	text-decoration: none;
}
a:visited {
	color: #11C40B;
	text-decoration: none;
}
a:hover {
	color: #63E276;
	text-decoration: none;
}
a:active {
	color: #000000;
	text-decoration: none;
}
h1 {
	font-family: 'Averia Sans Libre', cursive;
	font-weight: 900;
	font-size: 250%;
}
h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}
#header {
	padding: 1px 0px 0px 0px;
	overflow: auto;
	border-radius: 15px 15px 0px 0px;
	background-color: #FFFFFF;
	background-image: url('../img/header4.png');
	background-position: right;
	background-repeat: no-repeat;
	min-height: 125px;
	position: relative;
}
#title {
	position: absolute;
	bottom: 0;
	left: 0;
}
#headerimg {
	float: right;
	display: block;
}
.content {
	min-height: 0px;
	padding: 0px 20px 0px 20px;
}
#nav {
	background-color: #EEEEEE;
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
#menu {
	width: 100%;
	display: table;
}
.navitem {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	width: 100%;
}
.cell {
	display: table-cell;
}
.container {
	width: 80%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
#slideshow {
    position:relative;
	width: 100%;
	height: 300px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
	width: 100%;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}
.ui-slider .ui-slider-handle {
	z-index: 1;
}
.contactGroup {
	border-radius: 10px;
	border: 1px solid #CCCCCC;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.inputs {
	width: 300px;
}
.label {
	width: 55px;
}
#selectedPup {
	float: right;
}
#selectedPup IMG {
	width: 100px;
	height: 100px;
	display: none;
}
#selectedPup IMG.selected {
	display: block;
}
#resInfo {
	margin-right: 105px;
}
.blackout {
	background: #FF6464;
}

.ui-tooltip, .arrow:after {
    background: white;
    border: 1px solid white;
  }
  .ui-tooltip {
    padding: 10px 5px;
    color: black;
    border-radius: 10px;
    font: 12px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 3px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -18px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 0 0 3px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }